<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">
 
	<resultMap type="map" id="search"></resultMap>
	<select id="search0" resultMap="search">
		select * from kh.employee
	</select>
	<select id="search1" resultMap="search">
		select * from kh.employee
		where ${searchType} like '%'||#{searchKeyword}||'%'
	</select>
	<select id="search2" resultMap="search">
	
	
		SELECT EMP.* FROM (SELECT DECODE(SUBSTR(EMP_NO, 8, 1), '1', '남', '3', '남', '여') AS GENDER, 
		KH.* FROM KH.EMPLOYEE KH) EMP
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			<if test="searchType != null and searchType !='' ">
			AND ${searchType} like '%'||#{searchKeyword}||'%'
			</if>
			<if test="gender != null and gender !='' ">
			AND GENDER LIKE '${gender}'
			</if>
			<if test="salary != null and salary !='' ">
				<if test="salary_le_ge eq 'le'">
					AND salary <![CDATA[<=]]> ${salary}
				</if>
				<if test="salary_le_ge eq 'ge'">
					AND salary <![CDATA[>=]]> ${salary}
				</if>
			
			</if>
			<if test="hire_date != null and hire_date !='' ">
				<if test="hire_date_le_ge eq 'le'">
					AND hire_date <![CDATA[<=]]> #{hire_date}
				</if>
				<if test="hire_date_le_ge eq 'ge'">
					AND hire_date <![CDATA[>=]]> #{hire_date}
				</if>
			</if>
			 <choose>
			 	<when test="hire_date_le_ge_ eq 'le'">
			 		AND hire_date <![CDATA[<=]]> #{hire_date}
			 	</when>
			 	<when test="hire_date_le_ge_ eq 'ge'">
			 		AND hire_date <![CDATA[>=]]> #{hire_date}
			 	</when>
			 	<otherwise>
			 	
			 	</otherwise>
			 </choose>
			
			
		</trim>
	
	</select>
	
	<select id="search3" resultMap="search">
		SELECT A.* FROM KH.EMPLOYEE A 
		LEFT JOIN KH.DEPARTMENT B ON A.DEPT_CODE = B.DEPT_ID
		LEFT JOIN KH.JOB C ON A.JOB_CODE = C.JOB_CODE
		WHERE 1 = 1
		<if test="job_codeArr != null ">
			AND A.JOB_CODE IN 
			<foreach collection="job_codeArr" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
</mapper>
