<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis">
	<insert id="test1">
		insert into student values(seq_student.nextval, '김률민', '01012341234', 'ryulmin@naver.com', '서울시 송파구', default)
	</insert>
	<insert id="test2" parameterType="string">
		insert into student values(seq_student.nextval, #{name}, '01012341234', 'ryulmin@naver.com', '서울시 송파구', default)
	</insert>
	<insert id="insertStudent1" parameterType="student">
		insert into student values(seq_student.nextval, #{studentName}, #{studentTel}, #{studentEmail}, #{studentAddr}, default)
	</insert>	
	
	<insert id="insertStudent2" parameterType="map">
		insert into student values(seq_student.nextval, #{studentName}, #{studentTel}, #{studentEmail}, #{studentAddr}, default)
	</insert>	
	
	<insert id="insertStudent3" parameterType="hashmap">
		insert into student values(seq_student.nextval, #{student.studentName}, #{student.studentTel}, #{student.studentEmail}, #{student.studentAddr}, default)
	</insert>
	<select id="selectStudentCount" resultType="_int">
		select count(*) from student
	</select>	
	<select id="selectStudentName" parameterType="_int" resultType="string">
		select studentName from student where studentNo = #{studentNo}
	</select>
	<select id="selectStudentOne" parameterType="_int" resultType="student">
		select * from student where studentNo = #{studentNo}
	</select>
	
	<!-- resultMap을 이용한 학생한명정보 구하기   -->
	<select id="selectStudentOne_" parameterType="_int" resultMap="selectStudentOne_">
	<!-- 별칭을 이용한 매핑방법 -->
		select 	studentno,
				studentname,
				studenttel,
				studentemail,
				studentaddr,
				regdate
		
		from student where studentNo = #{studentNo}
	</select>
	<resultMap type="student" id="selectStudentOne_">
<!-- 		<result column="studentno" property="studentNo" javaType="int"/> -->
<!-- 		<result column="studentno" property="studentNo"/>
		<result column="studentname" property="studentName"/>
		<result column="studenttel" property="studentTel"/>
		<result column="studentemail" property="studentEmail"/>
		<result column="studentaddr" property="studentAddr"/>
		<result column="regdate" property="regDate"/>
	 -->
	
	</resultMap>
	
	
	<select id="selectList" resultType="student">
	select * from student order by regdate desc
	</select>
	
	
	<delete id="deleteOne" parameterType="_int" >
		delete from student where studentNo = #{studentNo}
	</delete>
	
	
	
</mapper>
