<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis">
	<insert id="test1">
		insert into student values(seq_student.nextval, '김률민', '01012341234', 'ryulmin@naver.com', '서울시 송파구', default)
	</insert>
</mapper>
